.navbar {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: fixed;
  /* padding: 0 30px; */
  /* background: #c70000; */
  background: rgb(29,25,22);
}

.navbar__logo {
  margin-left: 1rem;
}

.navbar__logo a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: bolder;
}

#logo__span {
  font-size: 20px;
  margin-left: 10px;
}

.spacer {
  flex: 1; /* This will take all available space */
}

.navbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}
.navbar__navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__navigation-items li {
  padding: 0 1.5rem;
}

.navbar__navigation-items a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 15px;
  /* font-size: 20px; */
}

.navbar__logo a:hover,
.navbar__navigation-items a:hover,
.navbar__navigation-items a:active {
  color: gold;
}