.articleCard {
    height: 2rem;
    /* width: 40%; */
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    background: rgb(233, 226, 226);
    text-align: center;
    font-size: 25px;
    /* position: fixed; */
}

.articleCard a {
    text-decoration: none;
    color: rgb(29,25,22);
    font-weight: bolder;
    /* display: flex; */
    height: 100%;

}

.saveBtn {
    padding: 3px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bolder;
    color: rgb(163, 5, 21);
    background: gold;
    border-radius: 10px;
    
}