.articleCard {
    border: 1px rgb(92, 91, 91) solid;
    height: 2rem;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border: none;
    background: whitesmoke;
    text-align: center;
    font-size: 25px;
}

.articleCard a {
    text-decoration: none;
    color: rgb(245, 130, 130);
    font-weight: bolder;
}